@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&font-display: swap;');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&font-display: swap;');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap&font-display: swap;');

/*-----Producto 2-------*/

.--component-surface {
  background: #F4F1BB;
}

.--component-surface-checked {
  background: #F4F1DE;
}

.--component-surface-error {
  background-color: #9BC1BC;
}

.--component-border {
  border: 5px solid #E6EBE0;
}

.--component-border-checked {
  border: 5px solid #F07A5F;
}

.--component-border-error {
  border: 5px solid #CB414D;
}

.--corner-s-1 {
  border-radius: 4px;
}